.gradient_wrapper {
    height: 96.5vh;
    position: relative;
    width: 100vw;
    // display: flex;
    // justify-content: center;
    // align-items: flex-start;
    #gradient_grid {
        margin: 0 auto;
        margin-top: 4rem;
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        height: 2.5rem;
        box-sizing: border-box;
        width: 50%;
        button {
            font-size: 1.4rem;
            color: #555;
            background-color: transparent;
            border: 1px solid #777;
        }
        .form {
            input {
                background-color: transparent;
                font-size: 1.4rem;
                color: #444;
                text-transform: uppercase;
                margin-bottom: 2rem;
            }
        }
        .ui.input {
            input {
                background-color: transparent;
                font-size: 1.4rem;
                color: #444;
                text-transform: uppercase;
            }
        }
    }
}

#gradient_dir {
    position: absolute;
    z-index: 10;
    top: 15%;
    left: 40px;
    ;
}

#copyButton {
    position: absolute;
    background-color: transparent;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    .icon {
        opacity: 0;
        scale: 0;
        color: #eee;
        &:hover {
            color: #555;
        }
    }
    #isClicked {
        transition: 500ms;
        color: purple;
        .icon {
            scale: 2;
        }
    }
    &:hover .icon {
        transition: 500ms;
        opacity: 1;
        scale: 1.5;
    }
}

#gradient_buttons {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // opacity: .3;
    border-radius: 0;
    border: none;
    border: none;
    margin: -10px;
    align-items: center;
    .icon {
        font-size: 2rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 400ms;
        cursor: pointer;
        &:hover {
            transition: 400ms;
            border: 2px solid #888;
            color: #444;
        }
    }
    button {
        background-color: transparent;
        font-size: 2rem;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
}